form {
  display: flex;
  flex-direction: column;
  background: #eee;
  font-family: arial;
  font-size: 12px;
  padding: 10px;
}

form input {
  border-radius: 2px;

}

form label {
  display: flex;
  flex-direction: column;
}